article {
    width: 94.5%;
    margin: 0 auto;
    form {
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .name,.year {
            display: flex;
            flex-direction: column;
            gap: 10px;
            label {
                font-size: 1.25rem;
            }
            input,select {
                font-size: 1.125rem;
                padding: 6px;
            }
            select {
                font-family: 'KBO-Dia-Gothic_light';
                color: #d9d9d9;
            }
        }
        #addFriend {
            width: 100%;
            padding: 5px;
            font-size: 1.25rem;
            color: white;
            border: none;
            border-radius: 5px;
            background-color: #1a4d2E;
        }
    }
}