article {
    width: 100%;
    margin: 0.6rem 0;
    p {
        font-family: 'KBO-Dia-Gothic_light';
        text-align: center;
    }
}

.row {
    width: 94.5%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid black;
    font-size: 1.125rem;
    p {
        padding: 0.625rem 0;
    }
    p:first-child {
        width: 13.125rem;
    }
    p:nth-child(2) {
        width: 5.625rem;
    }
    p:last-child {
        width: 3.43rem;
    }
}

.parag {
    width: 94.5%;
    margin: 0 auto;
    border: 1px solid black;
    p {
        padding: 0.625rem 0.312rem;
        font-size: 0.875rem;
        text-align: left;
    }
}

.buttons {
    width: 94.5%;
    margin: 0.625rem auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    button {
        width: 25%;
        font-size: 1rem;
        padding: 0.312rem 0;
        background-color: #1a4d2e;
        border: none;
        border-radius: 0.187rem;
        color: white;
        a {
            color: white;
        }
    }
}

#writE {
    display: block;
        width: 94.5%;
        margin: 0 auto;
        padding: 0.6rem;
        text-align: center;
        border: none;
        background-color: #1A4D2E;
        color: white;
        font-size: 1.25rem;
        border-radius: 0.20rem;
}