@charset "utf-8";
@font-face {
    font-family: 'KBO-Dia-Gothic_light';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'KBO-Dia-Gothic_medium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'KBO-Dia-Gothic_bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
/**************** RESET ****************/

* {
    margin: 0;
    padding: 0;
    font-family: "KBO-Dia-Gothic_medium";
}


ul, ol, li {
    list-style: none;
}

ul::after, ol::after {
    content: "";
    display: block;
    clear: both;
}
li {
    float: left;
}

a {
    text-decoration: none;
    display: block;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%; /* 웹폰트 기본크기 : 16px = 100% */
    font-weight: 400;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}