body {
    article {
        height: 100vh;
        background-color: #1A4D2E;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .group {
            width: 70%;
            text-align: center;
            .logo_main {
                width: 100%;
                padding: 10px 0;
            }
            p {
                color: white;
                font-size: 18px;
                font-family: 'KBO-Dia-Gothic_light';
                
                padding: 10px 0;
            }
            #logIn {
                width: 75%;
                padding: 10px 0;
            }
        }
    }
}